*{
    margin: 0px;
    padding: 0px;
}
.navbar{
   border-top: 0.5px solid rgb(212, 200, 200);;    
    
}
.img{
    display: flex;
    width: 80%;
}
.img-1{
    height: 26px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.img-2{
    height: 20px;
}
ul li{
    list-style: none;
    
    
}
li.z{
margin-top: 25px;
margin-left: 40px;
    font-family: "arial";
    
}
.icon{
    margin-left: 116px;
    margin-top: -16px;
    font-size: 12px;
}

li.i{
    margin-top: -18px;
    margin-left: 150px;
        font-family: "arial";
        
    }
    .icon-1{
        margin-left: 226px;
        margin-top: -16px;
        font-size: 12px;
}

li.s{
    margin-top: -18px;
    margin-left: 270px;
        font-family: "arial";
        
    }
    .icon-2{
        margin-left: 330px;
        margin-top: -16px;
        font-size: 12px;
}
li.k{
    margin-top: -18px;
    margin-left: 360px;
        font-family: "arial";
        
        
    }
.search{
    display: flex;
    margin-left: 750px;
    margin-top: -33px;
    width: 100%;
    border: 2px solid rgb(212, 200, 200);;
    padding: 7px;
    border-radius: 15px;
    width: 300px;
}
.fa-magnifying-glass{
    font-size: 18px;
    margin-left: 5px;
}
p.a{
    margin-left: 15px;
    font-family: "arial";
}
img.img-2{
    margin-left: 100px;
}
p.b{
    margin-left: 8px;
}
.fa-angle-down{
    margin-left: 10px;
}
p.m{
    margin-left: 60px;
    font-family: "arial";
    font-size: 18px;
}
.button{
    margin-top: -27px;
    
}
button.butt{
    margin-left: 1200px;
    margin-top: -45px;
padding: 11px 28px;
border: none;
border-radius: 20px;
background-color: #14A800;
color: white;
font-size: 15px;
}
.border{
    border-bottom: 0.5px solid rgb(212, 200, 200);
    margin-top: 15px;
}
.unin{
 display: flex;   
 justify-content: space-between;
 width: 75%;
 margin-top: 20px;
 margin-left: 20px;
 font-family: "arial";
 font-size: 15px;
    
}
.arrow{
    margin-left: -35px;
    font-size: 14px;
    margin-top: 2px;
}
.center{
    width: 100%;
}
h1{
    margin-top: 60px;
    margin-left: 70px;
    font-size: 80px;
    color: #14A800;
}
p.d{
    margin-left:70px ;
    margin-top: 20px;
    font-size: 22px;
    font-family: "arial";
    color: rgb(154, 150, 150);
}
button.butt-2{
    margin-top: 30px;
    margin-left: 76px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: green;
    color: white;
    font-weight:bold ;
}
img.img-3{
    height: 300px;
    margin-left: 850px;
    margin-top: -400px;
}
p.q{
    margin-top: 20px;
    margin-left: 80px;
    font-size: 18px;
    color: gray;
}
img.img-4{
    margin-left: 90px;
    height: 40px;
    margin-top: 10px;
}

img.img-5{
    margin-left: 30px;
    height: 40px;
    margin-top: 10px;
}

img.img-6{
    margin-left: 40px;
    height: 40px;
    margin-top: 10px;
}

h1.h1{
    font-size: 40px;
    color: black;
    margin-left: 600px;
    margin-top: 70px;
}

.fa-pen-to-square{
    margin-left: 610px;
    font-size: 25px;
    margin-top: 25px;
    
}
p.p1{
    margin-left: 650px;
    font-size: 23px;
    margin-top: -25px;
}
p.p2{
    margin-left: 650px;
    margin-top: 5px;
    font-family: "arial";
}
.fa-thumbtack{
    margin-left: 610px;
    font-size: 25px;
    margin-top: 25px;
    
}
p.p3{
    margin-left: 650px;
    font-size: 23px;
    margin-top: -29px;
}
p.p4{
    margin-left: 650px;
    font-family: "arial";
    margin-top: 5px;
}
.fa-star{
    margin-left: 610px;
    font-size: 25px;
    margin-top: 25px;
    
}
p.p5{
    margin-left: 650px;
    font-size: 23px;
    margin-top: -29px;
}
p.p6{
    margin-left: 650px;
    font-family: "arial";
    margin-top: 5px;
}
button.butt-3{
    margin-left: 630px;
    margin-top: 40px;
    padding: 11px 28px;
    font-size: 15px;
    color: white;
    background-color: green;
    border: none;
    border-radius: 13px;
    font-weight: bold;
}

button.butt-4{
    
    font-size: 15px;
    color: green;
    padding: 11px 28px;
    border: 2px solid green;
    border-radius: 13px;
    font-family: "arial";
}
h1.h2{
    font-size: 40px;
    color: black;
    font-family: "arial";
    font-weight: 100;
}
p.p7{
    margin-left: 70px;
    font-size: 19px;
    font-family: "arial";
    margin-top: 10px;
}
p.p8{
    margin-left:228px ;
    font-size: 19px;
    font-family: "arial";
    margin-top: -22px;
    color: green;
    text-decoration: underline;
    
}
.box-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    cursor: pointer;
}

.box{
    height: 100px;
    width: 21%;
    padding: 20px 0px 15px;
    margin-top: 20px;
    background-color:  #e2e7e2;
    
    border-radius: 10px;
}
.box:hover{
    background-color: rgb(185, 235, 255);
}
h2{
 font-weight: 100;
 text-align: center;   
}
.star-4{
    margin-left: -570px;
    font-size: 10px;    
    color: green;
    
}
p.pi{
    margin-left: 80px;
    margin-top: -20px;
    font-size: 17px;
    color:#676767;
}

p.pl{
    margin-left: 140px;
    margin-top: -20px;
    font-size: 17px;
    color:#676767;
    
}
.star{
margin-left: -570px;
color: green;
}


.star-1{
    margin-left: -570px;
    color: green;
}
.star-2{
        margin-left: -570px;
        color: green;
}
.star-3{
margin-left: -570px;
color: green;
}
.header-3{
    background-color: #13544E;
    width: 60%;
    height: 540px;
    margin-left: 50px;
    margin-top: 50px;
    border: none;
    border-top-left-radius: 10px;
}
.header-4{
    margin-top: 30px;
    padding-top: 20px;
}
h3.ae{
    font-size: 25px;
    font-family: "arial";
    margin-left: 30px;
    color: white;
    font-weight: 100;
}
h1.am{
    font-size: 50px;
    font-style: oblique;
    color: white;
    margin-left: 30px;
    margin-top: 30px;
}

h1.are{
    font-size: 50px;
    font-style: oblique;
    margin-top: -10px;
margin-left: 28px;
color: #91E6B3;
margin-top: 5px;    
}

h1.is{
    font-size: 50px;
    font-style: oblique;
    margin-top: -10px;
margin-left: 28px;
color: #91E6B3;    
margin-top: 2px;
}
p.ache{
    margin-left: 28px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
    font-family: "arial";
}
img.img-7{
    margin-top: 20px;
    margin-left: 22px;
}
p.age{
    margin-top: -25px;
    margin-left: 55px;
    color: white;
    font-family: "arial";
}

img.img-8{
    margin-top: 20px;
    margin-left: 22px;
}

p.ate{
    margin-top: -25px;
    margin-left: 55px;
    color: white;
    font-family: "arial";
}

img.img-9{
    margin-top: 20px;
    margin-left: 22px;
}

p.au{
    margin-top: -25px;
    margin-left: 55px;
    color: white;
    font-family: "arial";
}
button.hit{
    margin-top: 30px;
    margin-left: 50px;
    padding: 12px 32px;
    border: none;
    border-radius: 10px;
}
img.img-10{
    display:flex ;
    height: 539px;
    width: 55%;
    margin-left: 808px;
    margin-top: -508px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.background{
    background-image: url(https://res.cloudinary.com/upwork-cloud-acquisition-prod/image/upload/c_scale/brontes/delivery-models/find-talent-2x.jpg);
    height: 500px;
    width: 93%;
    margin-left: 50px;
    margin-top: 40px;
}
p.a{
    padding-top: 5px;
    font-size: 22px;
    font-family: "arial";
    color: white;
    
}
h1.b{
    font-size: 80px;
    color: white;
   
    font-weight: bold;
    margin-left: 10px;
    line-height: 60px;
}
p.c{
    margin-top: 35px;
    margin-left: 20px;
    font-size: 19px;
    font-family: "arial";
    line-height: 25px;
    color: white;
}
.card-section{
    
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly ;
    
}

.box-1{
    height: 110px;
    width: 29%;
    padding: 20px 0px 15px;
    margin-top: 20px;
    background-color:  #14A800;
    
    border-radius: 10px;
}
.box-1:hover{
    background-color: white;
}
h3.ff{
    margin-left: 20px;
    font-size: 30px;
    line-height: 30px;
    color: white;
    font-weight: 200;
}    
h3.ff:hover{
    color: green;
}
p.d{
    margin-left: 19px;
    color: white;
    font-size: 19px;
    font-family: "arial";
}
p.d:hover{
    color: green;
}
sup{
    font-size: 10px;
    font-weight: bold;
}
.arrow{
    margin-top: -18px;
    margin-left: 204px;
    color: white;
    font-size: 18px;
    
}
.center-2{
    background-color:#e2e7e2;
    width: 60%;
    height: 600px;
    margin-left:40px ;
    border: none;
    border-radius: 10px;
}
h1.e{
    font-size: 50px;
    font-family:sans-serif;
    font-weight: 100;
color: black;    
}
img.eye{
    height: 24px;
    margin-left: 60px;
    margin-top: 30px;
}
p.f{
    margin-left: 100px;
    margin-top: -45px;
    font-size: 40px;
}
p.g{
    margin-left: 100px;
    font-size: 20px;
    color: rgb(89, 87, 87);
    margin-top: 10px;
}

img.nose{
    height: 49px;
    margin-left: 30px;
    margin-top: 17px;
}
.fa-circle-check{
    font-size: 25px;
    margin-left: 60px;
    margin-top: 40px;
}
img.teeth{
    height: 500px;
    margin-top: -450px;
    margin-left: 700px;
}
.green{
    
    background-color: #14A800;
    height: 600px;
    width: 30%;
    margin-left: 900px;
    margin-top: -600px;
}
img.lip{
    height: 30px;
}
p.h{
    padding-top: 290px;
    margin-left: 80px;
    font-size: 30px;
    color: white;
    font-family: "arial";
}
.gray{
    margin-left: -550px;
    color: white;
}
h1.du{
    color: black;
    font-size: 28px;
    margin-top: -30px;
    margin-left: 110px;
    color: white;
}
p.i{
    margin-left: 110px;
    margin-top: 5px;
    color: white;
    font-size: 18px;
}
.fa-award{
    margin-left: 70px;
    margin-top: 25px;
    font-size: 30px;
    color: white;
}
h1.dud{
    font-size: 37px;
    margin-top: -40px;
    color: white;
    margin-left: 110px;
    font-weight: 100;
}
p.j{
    margin-left: 110px;
    color: white;
    margin-top: 10px;
    font-size: 18px;
    
}
img.girl{
    height: 600px;
    margin-top: 40px;
    margin-left: 40px;
    width: 50%;
}
.blue{
   background-color:#1F57C3;
   width: 45%;
   margin-left: 715px;
   margin-top: -605px;
   height: 600px;
   border: none;
   
}
p.aa{
    color: white;
    padding-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    font-family: "arial";
}
p.bb{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 60px;
    color: white;
    font-weight: bold;
}
p.cc{
    margin-left: 40px;
    margin-top: 50px;
    color: white;
    font-size: 20px;
    font-family: "arial";
}
hr{
    margin-top: 100px;
    width: 530px;
    margin-left: 30px;
}
.all-p{
    display: flex;
    color: white;
    justify-content: space-evenly;
    margin-top: 20px;
    font-size: 18px;
    font-family: "arial";
    
}
button.ee{
    margin-left: 50px;
    margin-top: 30px;
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    color: #1F57C3;
    font-size: 16px;
}
p.fff{
    margin-top: 60px;
    font-size: 70px;
    margin-left: 50px;
    font-weight: bold;
    word-spacing: 18px;
}
.footer-1{
    background-color: #13544E;
    width: 47%;
    margin-left: 35px;
    margin-top: 30px;
    height: 480px;
    border: none;
    border-radius: 10px;
}

.footer-2{
    background-color: #BC511B;
    width: 47%;
    margin-left: 700px;
    margin-top: -480px;
    height: 480px;
    border: none;
    border-radius: 10px;
}
img.ffff{
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
}
p.gg{
    margin-left: 25px;
    margin-top: 20px;
    color: white;
    font-size: 23px;
font-weight: bold;
}
p.hh{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    font-size: 16px;
}
p.ii{
    margin-left: 20px;
    margin-top: 70px;
    color: white;
    font-size: 20px;
}
.hr{
    margin-top: -80px;
}
p.jj{
    margin-left: 30px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

p.kk{
    margin-left: 290px;
    margin-top: -33px;
    font-size: 30px;
   font-weight:  bold;
   color: white;
    
}
p.ll{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: white;
}

p.mm{
    margin-top: -50px;
    margin-left: 290px;
    font-size: 20px;
    color: white;
    
}

p.nn{
    margin-top: -28px;
    margin-left: 290px;
    font-size: 20px;
    color: white;
    
}
p.oo{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 50px;
    color: green;
    
}
p.pp{
    margin-top: 20px;
    margin-left: 30px;
    font-size: 50px;
    word-spacing: 10px;
    line-height: 55px;
    color: gray;
}
p.qq{
    margin-left: 500px;
    margin-top: -235px;
    font-size: 25px;
    font-family: "arial";
    color: gray;
    line-height:40px ;
}
p.rr{
    margin-left: 960px;
    margin-top: -645px;
    font-size: 25px;
    font-family: "arial";
    color: gray;
    line-height:40px ;
}
.black{
    background-color: #181818;
    margin-top: 50px;
    width: 98%;
    margin-left: 20px;
    height: 550px;
}
p.ss{
    margin-left: 70px;
    padding-top: 80px;
    font-size: 18px;
    color: white;
}
p.tt{
    margin-left: 70px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
    font-family: "arial";
    color: white;
}

p.uu{
    margin-left: 350px;
    margin-top: -335px;
    font-size: 18px;
    color: white;
}
p.vv{
    margin-left: 350px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    font-family: "arial";
    margin-top: 10px;
    
}

p.ww{
    margin-left: 700px;
    margin-top: -180px;
    font-size: 18px;
    color: white;
}
p.xx{

    margin-left: 700px;
    margin-top: 10px;
    font-size: 15px;
    line-height: 30px;
    font-family: "arial";
    color: white;
    
}

p.yy{
    margin-left: 990px;
    margin-top: -270px;
    font-size: 18px;
    color: white;
}
p.zz{

    margin-left: 990px;
    color: white;
    font-size: 15px;
    line-height: 30px;
    font-family: "arial";
    margin-top: 10px;
}
.footer-icons{
    display: flex;
    color: white;
    
    margin-top: 30px;
    margin-left: 70px;
    font-size: 25px;
}
p.yz{
    font-size: 20px;
}
.fa-facebook{
    margin-left: 20px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    
}
.fa-linkedin-in{
    margin-left: 20px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    }
.fa-x{
    margin-left: 18px;
    border: 1px solid white;
    padding: 7px 10px;
    border-radius: 20px;
}
.fa-youtube{
    margin-left: 18px;
    border: 1px solid white;
    padding: 5px 5px;
    border-radius: 20px;
}
.fa-instagram{
    margin-left: 18px;
    border: 1px solid white;
    padding: 5px 8px;
    border-radius: 20px;
}
p.ux{
    font-size: 20px;
    margin-left: 600px;
    
}
.fa-apple{
    margin-left: 10px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    
}
.hf{
    border-top: 1px solid white;
    margin-top: 20px;
    width: 90%;
    margin-left: 50px;
}